Code/
dconf/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
nemo/
pulse/
Thunar/
xsettingsd/
mimeapps.list
go/
libreoffice/
systemd/
xfce4/
PortProton.conf
pavucontrol.ini
autostart/
evolution/
kde.org/
Mattermost/
Postman/
session/
assets
baloofileinformationrc
dolphinrc
viewnior/
microsoft-edge/
obsidian/
MTS Link/
menus/
chrome-work/
user-dirs.*